/* CSS Document */



body {

	margin: 0px;

	padding:0px;

	font-family:Arial, Helvetica, Verdana, sans-serif;

	font-size: 12px;

	background:url(/imgs/page_patt.gif);

}


/* added for advancedsearch.jsp - ali - 2007.11.16 */

#servicearea p, #servicearea2 p, #servicearea3 p {

	margin: 0px 0px 4px 0px;

}

#skillsgroup p, #skill2 p, #skill3 p {

	margin: 0px 0px 4px 0px;

}




/* new 2006-07-17 (same font for textarea input) */

input, textarea, button

{

	font-family:Arial, Helvetica, Verdana, sans-serif;

	font-size: 12px;



}

form {

	margin: 0px;

	padding: 0px;

}



a {

	font-weight: bold;

	color: #5D9345;

}



a:hover { color: #728DD4; }



#footer a:hover, #search a:hover, #searchjoint a:hover { color: #5D9345; }



h1 {

		color: #5D9345;

	font-size: 20px;

}



h2 {

	margin-top: 10px;

	margin-bottom: 10px;

	font-size: 16px;

	font-weight: bold;

	color: #728DD4;

}



h3 {

		/* color: #728DD4; */
		
		color: #728DD4; /*anya switched it back to #728DD4*/


	margin-top: 10px;

	margin-bottom: -15px;

	text-transform:none;

	font-size: 14px;

}



h4, h5 {

	color: #003366;

	margin-top: 10px;

	margin-bottom: -15px;

	text-transform:none;

	font-size: 14px;

}



.criticaltext  {

	color: #F37C16;

	font-weight: bold

}





#wrapper {

	text-align: center;

}





#contentwrapper {

	width: 950px;

	margin:auto;

	text-align:left;

	background: #FFFFFF url(/imgs/bodycontent_patt_wide.gif) repeat-y;

	border-left: solid 1px black;

	border-right: solid 1px black; 

}



#contentwrapper.home {

	background: #FFFFFF;

}



#banner {

	/* padding-top: 10px; */

	background-color:#FFFFFF;

}



#banner.home {

	padding-top: 0px;

}



#logo {

	float: left;

	/* padding-top: 10px; */

}



#search {

	/*width: 334px;*/

	float: right;

	margin-right: 20px;

}



#search.home {

	margin-top: 10px;

}



#search a {

	color: #000000;	

}


#searchjoint {

	width: 420px;

	float: right;

	margin-right: 20px;

}



#searchjoint.home {

	margin-top: 10px;

}



#searchjoint a {

	color: #000000;	

}



#searchcontent {

	/*border-left: solid 4px #C0C0C0;

	border-right: solid 4px #C0C0C0;

	background-color: #F7F7F7;

	padding: 2px 0px 4px 10px; */

	font-size: 11px;

}
#searchcontent table {

	font-size: 11px;

}



#searchcontent.home {

	height: 20px;

}



#searchcontent.higher {

	height: 120px;

}



form#homesearch {

	margin: 0px;

	padding: 0px;

}



form#bannersearch {

	margin-top: 10px;

}



form#bannersearch input, form#bannersearch select {

	font-size: 10px;

	margin-right: 5px;

}



#navigation {

	
}



#maincontent {

	width: 772px;

	float: left;

	padding-bottom: 30px;

	clear: both;

	color: #000;

}



#maincontent table {

	font-size: 12px;

}

#maincontent p {
 line-height: 16px;
}



#pagebanner {

	height: 56px;

	background: url(/imgs/int_page_banner.gif) repeat-x;

}



#pagebanner span {

	background:url(/imgs/int_page_banner.gif) repeat-x;

	padding: 5px 0px 0px 23px;

	font-weight: bold;

	font-size: 22px;

	color: #728DD4;

}



#breadcrumbs {

	clear: both;

	background-color: #93B6F0;

	color: #FFFFFF;

	padding: 2px 0px 2px 23px;

	font-size: 11px;

}



#breadcrumbs a {

	color: #FFFFFF;

	font-weight: bold;

	text-decoration:none;

}



#breadcrumbs a:hover {

	text-decoration: underline;

}



#body, #bodysplash {

	clear: both;

}



#body {

	padding: 0px 26px 0px 26px;

}



#bodysplash_tb {

	border-top: solid 1px #FFFFFF; 

	border-bottom: solid 1px #728DD4;

	color: #FFFFFF;

	font-size: 14px;

}



#bodysplash_tb h1 {

	color: #FFFFFF;

}



#bodysplash_tb a {

	color: #FFFFFF;

}



#bodysplash_tb a:hover {

	color: #ECF1FC;

}



#sidebar {

	float:left;

	margin-left: 7px;

	background: #AAD696 url(/imgs/sidebar_patt.gif) repeat-y;

	width: 151px;

	font-size: 11px;

}



#sidebar a {

	color: #3F642F;

	text-decoration:none;

}



#sidebar a:hover {

	color: #F9FAC9;

	text-decoration:underline;

}





#sidebar_content h5 {

	color: #5D9345;

	margin: 7px 0px 0px 0px;

	font-size: 12px;

}



#sidebar_content {

	padding-left: 10px;

	padding-right: 10px;

}



div#sidebar_content p {

	padding-bottom:: 10px;

	margin-top: 5px;

	}

	

div#sidebar_content ul {

	margin-left: 0px;

	padding-left: 0px;

	padding-top: 5px;

	margin-top: 0px;

	padding-bottom: 10px;

	margin-bottom: 0px;

	margin-left: 0px;

	}



div#sidebar_content li  { 

	list-style-type: square;

	list-style-position: outside;

	margin-left: 16px;

	padding-left: 0px;

	margin-top: 0px;

	padding-top: 0px;

	padding-left: 0px;

	line-height: 14px;

}

.cleardiv {

	clear: both;

}



.error {

	color:#FF0000;

}







.intsplash {

	padding: 15px; background:#7693DC url(/imgs/int_splash_patt.gif) repeat-x

} 

	/* Pull Down Menus 	*/

	

	

table#menu { 

	filter:alpha(opacity=90);

	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);

	-moz-opacity:0.9;

	font-weight: bold;

	font-size: 12px;

	} 



table#menu a {

	color: #999999;

	text-decoration: none;

	display: block;

	padding-right: 10px;

	padding-left: 10px;

	padding-top: 5px;

	padding-bottom: 5px;

	} 



table#menu a:hover {

	color: #FFFFFF;

	text-decoration: none;

	background-color: #5D9345;

	display: block;

	padding-right: 10px;

	padding-left: 10px;

	padding-top: 5px;

	padding-bottom: 5px;

	} 

	

table#menu td {

	background-color: #FFFFFF;

	border-bottom: solid 1px #CCCCCC;

	color: white;

	}





	/* End Pull Down Menus 	*/

	

/* Homepage 	*/



#welcomebox {

	background: #AAD696 url(../imgs/welcomebox_patt_wide.gif) no-repeat bottom right;

	width: 919px;

	float: left;

}
#welcomebox_photo {
float: left;
width: 417px;
height: 228px;
background: transparent url(../imgs/welcomebox_green_line.gif) repeat-x bottom left;
padding-bottom:6px;

}
#welcomebox_photo img{
border-right: 1px solid #FFFFFF;
}

#welcomebox.wide {

	background: #AAD696 url(../imgs/welcomebox_patt_full.gif) no-repeat bottom right;

	width: 919px;

	float: left;

}



#welcomebox h1 {

	color: #5D9345;

	font-size: 20px;

}



#welcomebox h2 {

	margin-top: 10px;

	margin-bottom: 10px;

	font-size: 16px;

	font-weight: bold;

	color: #5D9345;
	
	text-transform: capitalize;

}



#welcomebox a {

	color: #5D9345;

}



#midbox1 {
	margin: 10px 0px 10px 0px;
	clear: both;
	background: #FFDB85 url(/imgs/volunteerbox_borderpatt-wide.gif) 0px 158px;
	width: 313px;
	float: left;
	
}
#midbox1_photo{
background: transparent url(/imgs/volunteerbox_patt-wide.gif) no-repeat 0px 0px;
}
#midbox1_photo img{
margin-left:10px;
border-bottom:3px solid #FFF;
}
#midbox2_photo img{
margin-left:13px;
border-bottom:3px solid #FFF;
}

#midbox3_photo img{
margin-left:13px;
border-bottom:3px solid #FFF;
}

#midbox1 a { color: #937341; text-decoration: none; }
#midbox1 a:hover { text-decoration: underline; }
#midbox1 h1 {
	color: #B28C4F;
	font-size: 20px;
}
#midbox1 h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #B28C4F;
	text-decoration: underline;
}
#midbox1 h2.head {
	text-decoration: none;
	margin-top: 0px;
}
#midbox1_content {
	/* color: #937341; */
	height: 300px;
	background:url(/imgs/volunteerbox_patt-wide.gif) no-repeat 0px 0px;
}
#midbox1_content li{
line-height: 1.5em;
color:#937341;}

#midbox1_content.higher {

	height: 330px;

}

#midbox2 {
	margin: 10px 0px 10px 0px;
	background: #d9df7b url(/imgs/organizationbox_borderpatt_wide.gif) 0px 158px;
	width: 315px;
	float: left;
}

#midbox2 a { color: #747748; text-decoration: none; }
#midbox2 a:hover { text-decoration: underline; }
#midbox2 li { line-height: 1.5em;}
#midbox2 h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #99994C;
	text-decoration: underline;
}
#midbox2 h2.head {
	text-decoration: none;
	margin-top: -10px;
}
#midbox2_content {
/* color: #747748; */
	height: 300px;
	background:url(/imgs/organizationbox_patt_wide.gif) no-repeat 0px 0px;
}
#midbox2_content li{
color:#747748;
}
midbox2_photo{
background:url(/imgs/organizationbox_patt_wide.gif) no-repeat 0px 0px;
}


#midbox2_content.higher {

	height: 330px;

}


#midbox3 {
	margin: 10px 0px 10px 0px;
	background: #E7E58C url(/imgs/trainingbox_borderpatt_wide.gif) 1px 158px;
	width: 309px;
	float: left;
}
#midbox3 a { color: #76773B; text-decoration: none; }
#midbox3 li {line-height: 1.5em; color:#838654;}
#midbox3 a:hover { text-decoration: underline; }

#midbox3 h2 {

	margin-top: 10px;

	margin-bottom: 10px;

	font-size: 16px;

	font-weight: bold;

	color: #99994C;

	text-decoration: underline;
}

#midbox3 h2.head {
	text-decoration: none;
	margin-top: -10px;
}

#midbox3_content {
	/* color: #76773B; */
	height: 300px;
	background: transparent url(/imgs/trainingbox_patt_wide.gif) no-repeat 0px 0px;
}
#midbox3_photo{
background: transparent url(/imgs/trainingbox_patt_wide.gif) no-repeat 0px 0px;
}
#midbox3_content a{
	color: #838654; }


#midbox3_content.higher {

	height: 330px;

}



#midbox1 p, #midbox2 p, #midbox3 p, #midbox1 span {

	margin: 0px 20px 10px 20px;

}



#ivolunteering #endingbox {

	height: 650px;

	//height: 630px;

}

#right_corner_endingbox{
position:absolute;
z-index:2;
background-color: #ECF1FC;
width: 32px;
heght: 30px;
top:-4px;
right:-4px;
}

#endingbox {
position: relative;
background: #ECF1FC url(../imgs/endingbox_patt.gif) no-repeat bottom right; 
width: 932px;
height: auto; 
border-top: solid 4px #728DD4;
border-right: solid 4px #728DD4;
float: left;
}

#endingbox h1 {
 color: #728DD4;
}



#endingbox a { color: #728DD4; text-decoration: none; }



#endingbox a:hover { text-decoration: underline; }



#endingbox li  { 

	list-style-position: outside;

	margin-left: 16px;

	padding-left: 0px;

	margin-top: 0px;

	padding-top: 0px;

	padding-left: 0px;

	line-height: 16px;

}


html>body div#endingbox li {  /* min-height for non-IE  */

	list-style-position: outside;

	margin-left: 16px;

	padding-left: 0px;

	margin-top: 0px;

	padding-top: 0px;

	padding-left: 0px;

	height: 0px;

}

#endingbox H1{
padding-left: 15px;
}

#endingbox H2 {

	margin: 0px;

}
/* Drupal related styles*/

#endingbox .views-row-odd, #endingbox .views-row-even {
margin-left: 10px;
clear: both;
}

#endingbox .stats, #endingbox .service_links_delicious, #endingbox .service_links_digg, #endingbox .submitted, #endingbox .playstats, #endingbox .playtime, #endingbox .play_counter{
display:none;
}
ul.links li{
display:inline;
padding-right: 10px;}

#endingbox .views-row-odd, #endingbox .views-row-even {
clear:both;
margin-left:10px;
}

#endingbox .node_wrapper, #endingbox .node-inner {
min-height: 80px;
//height: 80px;
padding-bottom: 10px;
padding-left:20px;
position:relative;
}
.node .content a, .node .content a:hover{
font-weight:normal;}

#endingbox .node_title, #endingbox h2 {
margin-left:110px;
}
#endingbox .node_wrapper .node img, #endingbox .node-inner .content img  {
position:absolute;
left:5px;
max-width:100px; 
//width:100px;

top:0px;
//top: 5px;
}
#endingbox .node_wrapper .node, #endingbox .node-inner .content {
margin-left:110px;
}
#endingbox ul.inline.links li.last, #endingbox ul.inline.links li.first {
display:none;
}
#endingbox #newpadding{
}

#endingbox .content p{
line-height:1.4em;
margin:0px;
padding:0px;}

h2.title {
}
.more-link {
/* background:transparent url(imgs/More_Buttn.gif) no-repeat scroll left top; */
float:right;
padding:0px 250px 10px 0px;
}



/* Footer */
#footer {
	BACKGROUND: #E9E8E8 url(/imgs/footer_patt.gif) repeat-x top;
	COLOR: #666666;
	font-size:12px;
	clear:both;
}
#footer a {
font-weight: bold;
color: #666666;
}
img {
border:0pt none;
}
.footer_sections{
width:100%; 
border:0px; 
padding:0px; 
background-color:#CEDFEA;
font-size: 11px; 
}
.footer_sections A{
color:#4D4D4D;  
}
.footer_sections_left{
width: 140px; 
border-right:#FFFFFF solid 2px; 
border-top:#FFFFFF solid 2px;
background-color:#CACED7;
color:#4F4F4F;
font-weight:bold;
padding: 5px; 
}
.footer_sections_right{
width: 34%;
padding: 5px; 
border-top:#FFFFFF solid 2px; 
vertical-align: top;
color: #000000;
}
.footer_links TR {
	VERTICAL-ALIGN: bottom
}
.footer_links{
text-decoration: none;
color:#666666;
MARGIN: 0.5em 0px; 
WIDTH: 98%;
font-size:11px;
//font-size:11px; /*for IE*/
}
.footer_links a{
text-decoration: none;
color:#FFFFFF;
}
.footer_links A:hover {
 TEXT-DECORATION: none
}
.copyright {
text-align:right;
}
.copyright a:hover {
text-decoration: underline;}

.search {
vertical-align:middle;
text-align:left;
//font-size:11px; /*for IE*/
//color:#FFF;/*for IE*/
}
#searchtop a {
//font-size:12px; /*for IE*/
}
#searchtop, #searchtop td {
//color:#FFF;/*for IE*/}

html .fb_share_button {
color:#3b5998;
display:inline-block; 
padding:1px 20px 0 5px; 
height:15px; 
width:40px; 
border:1px solid #3b5998; 
background:#fff url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?12:26981) no-repeat top right;
} 
html .fb_share_button a{
color:#3b5998;
}
html .fb_share_button:hover { 
color:#fff; 
border:1px solid #fff; 
background:#3b5998 url(http://static.ak.facebook.com/images/share/facebook_share_icon.gif?12:26981) no-repeat top right;
text-decoration:none; 
} 


.hrule {

	border-top: dashed 1px #728DD4; 

	margin-top: -10px;

}



.hilitebox {

	border: dashed 1px #728DD4;

	padding: 3px;

}



.form div {

	padding-bottom: 8px;

}



.form label {

	width: 150px; 

	display: block; 

	float:left;

	clear:both;

}



#creed {

	display: none;

}



/*Imported Styles     */

#progressbar {

	PADDING-TOP: 7px;

	//padding-bottom: 15px;

	font-size: 11px;

}

#progressbar UL {

	MARGIN: 0px; 

	PADDING: 0px; 

	LIST-STYLE-TYPE: none;

}

#progressbar LI {

	PADDING: 0px 10px 0px 0px; 

	FLOAT: left; 

	MARGIN: 0px;

}



#progressbar DIV {

	font-size: 10px;

	VERTICAL-ALIGN: middle;

	padding: 0px 5px 0px 5px;

	HEIGHT: 1.4em; 

	text-align: center;

	COLOR: #fff;

	float: left;

	margin-right: 6px;

}



#progressbar DIV.boxon {

	BACKGROUND-COLOR: #f37c16;

}

#progressbar DIV.boxoff {

	BACKGROUND-COLOR: #999;

}



/* 2006-07-14 div to use around displaying text area input */

#textareaformat {

	font-family:Arial, Helvetica, Verdana, sans-serif;

	font-size: 12px;

}



select.smalldropdown {

	FONT-SIZE: 12px;

	FONT-STYLE: normal;

	FONT-WEIGHT: normal;

	TEXT-DECORATION: none;
 
	BORDER: 1px solid #838383;

}



input.textinputwhite {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-style: normal;

	border: 1px solid #838383;

	background-color: #FFFFFF;

	text-align: left;

}

.volbox_wrapper{ background-color:#FBC76E; padding:5px; margin-right:15px; margin-top: 20px; float:left;}
.volbox{ 
font-size:14px; 
color:#000; 
background-color:#FFEEB6; 
padding: 10px; 
border: solid 2px #FFF; 
height: 200px;
width:250px;
}
.volbox h2 a{ 
color: #DF9C29; 
font-size:15px; 
text-transform:uppercase; 
text-decoration:none;
}
.volbox h2 a:hover, .npbox h2 a:hover{ text-decoration:underline;}

.npbox_wrapper{ background-color:#C3C87A; padding:5px; margin-top: 20px; float:right;}
.npbox{
font-size:14px; 
color: #000; 
background-color:#D9DF7C;
padding: 10px;
border: solid 2px #FFF;
height: 200px;
width:250px;
 }
.volbox a, .npbox a { color:#666633; text-decoration: none;}
.volbox a:hover, .npbox a:hover { color:#35568F; text-decoration:underline;}
.volbox li, .npbox li { line-height: 1.5em;}
.npbox h2 a{ 
color:#8C8F59;
 font-size:15px; 
 text-transform:uppercase; 
 text-decoration:none;
 }
#page_base{
border: 2px solid #CCC;
padding: 10px; 
background-color:#FFF; 
float:left; 
text-align:left; 
width:600px; 
margin-left: 50px;
}
/* Sidebar Modifications by anya, june 2009 */
div#sidebar_content ul.navbullet li { list-style:none; padding-bottom: 3px; margin-left: 0px; }
#sidebar ul.navbullet a:hover{color:#036;}
#sidebar_content h5 a{color:#036;}
#sidebar_content h5 {color:#333; padding-bottom:5px; text-transform:uppercase; font-size:11px;}
#sidebar_content h5 a:hover {color:#F00;}
hr.sidebar_hr {color:#036;}