/* CSS Document */
body {
	background: #FFF;
}

#contentwrapper {
	background: #FFFFFF repeat-y;
}

#pagebanner {
	height: 0px;
	background: none;
}

#pagebanner span {
	background: none;
	padding: 0px;
}

#breadcrumbs {
	clear: both;
	background-color: #FFF;
	padding:0px;
}
#breadcrumbs a{
color:#000000;
text-decoration:underline;

}
#sidebar {
	background: #FFF;
}
#oppsearch {
	display: none;;
}
#topsearch{display:none;}
#chrisvol_nav{padding:0 26px;}
