BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; BACKGROUND-COLOR: #000; TEXT-ALIGN: center
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:link {
	COLOR: #409fe3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #409fe3; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clear {
	CLEAR: left
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN: 1em 0px
}
#maintable {
	MARGIN: 0px auto; WIDTH: 800px
}
#maintable TR TD.left {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #878787; PADDING-BOTTOM: 12px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 176px; PADDING-TOP: 6px
}
.titleleft {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url("../uywi/media/nav/title_left.gif"); PADDING-BOTTOM: 6px; WIDTH: 164px; COLOR: #a8d021; PADDING-TOP: 6px; HEIGHT: 14px
}
.leftcontent {
	BORDER-RIGHT: #30312c 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #ededed; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #30312c 1px solid; COLOR: #666; PADDING-TOP: 6px; BORDER-BOTTOM: #30312c 1px solid
}
#maintable TR TD.center {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #878787; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; PADDING-TOP: 6px
}
.titlemiddle {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url("../uywi/media/nav/title_middle.gif"); PADDING-BOTTOM: 6px; WIDTH: 288px; COLOR: #a8d021; PADDING-TOP: 6px; HEIGHT: 14px
}
.centercontent {
	BORDER-RIGHT: #30312c 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 6px; BORDER-LEFT: #30312c 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #30312c 1px solid
}
#maintable TR TD.right {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #878787; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; PADDING-TOP: 6px
}
.titleright {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url("../uywi/media/nav/title_right.gif"); PADDING-BOTTOM: 6px; WIDTH: 288px; COLOR: #a8d021; PADDING-TOP: 6px; HEIGHT: 14px
}
.rightcontent {
	BORDER-RIGHT: #30312c 1px solid; PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 6px; BORDER-LEFT: #30312c 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 6px; BORDER-BOTTOM: #30312c 1px solid
}
.divider {
	MARGIN-TOP: -5px; DISPLAY: block; FONT-SIZE: 10px; MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #ccc 1px dotted
}
.darkdivider {
	MARGIN-TOP: -5px; FONT-SIZE: 10px; MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #333 1px dotted
}
#menu {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url("../uywi/media/nav/menu.jpg"); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 800px; PADDING-TOP: 18px; FONT-FAMILY: "Lucida Grande", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; POSITION: relative; HEIGHT: 80px
}
#menu .menu1 A {
	PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 4px; BORDER-LEFT: #666 1px dotted; WIDTH: 43px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu1 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu .menu2 A {
	PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 43px; PADDING-BOTTOM: 4px; BORDER-LEFT: #666 1px dotted; WIDTH: 44px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu2 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu .menu3 A {
	PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 88px; PADDING-BOTTOM: 4px; BORDER-LEFT: #666 1px dotted; WIDTH: 66px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu3 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu .menu4 A {
	PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 156px; PADDING-BOTTOM: 4px; BORDER-LEFT: #666 1px dotted; WIDTH: 123px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu4 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu .menu5 A {
	BORDER-RIGHT: #666 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 522px; PADDING-BOTTOM: 4px; WIDTH: 110px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu5 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu .menu6 A {
	BORDER-RIGHT: #666 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 633px; PADDING-BOTTOM: 4px; WIDTH: 82px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu6 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu .menu7 A {
	BORDER-RIGHT: #666 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; DISPLAY: block; PADDING-LEFT: 0px; LEFT: 716px; PADDING-BOTTOM: 4px; WIDTH: 84px; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted; POSITION: absolute
}
#menu .menu7 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90; TEXT-DECORATION: none
}
#menu H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #fff; POSITION: relative; TOP: 36px
}
#submenu {
	BORDER-RIGHT: #878787 6px solid; BORDER-TOP: #878787 6px solid; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url("../uywi/media/nav/submenu.png"); MARGIN: 0px 0px -15px; BORDER-LEFT: #878787 6px solid; WIDTH: 784px; PADDING-TOP: 7px; POSITION: relative; TOP: -15px; HEIGHT: 19px; BACKGROUND-COLOR: #878787; TEXT-ALIGN: left
}
#submenu UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#submenu UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#submenu UL LI A {
	BORDER-RIGHT: #666 1px dotted; PADDING-RIGHT: 7px; DISPLAY: inline; PADDING-LEFT: 7px; MARGIN: 0px -1px 0px 0px; COLOR: #333
}
#submenu LI A:hover {
	TEXT-DECORATION: underline
}
#submenu .last A {
	BORDER-RIGHT-STYLE: none
}
#menu .left {
	PADDING-RIGHT: 0px; BORDER-TOP: #666 1px dotted; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; BORDER-LEFT: #666 1px dotted; COLOR: #ccc; PADDING-TOP: 4px; BORDER-BOTTOM: #666 1px dotted
}
.weblog H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #82b2d4; FONT-FAMILY: georgia, palatino, times
}
.weblog H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333; LINE-HEIGHT: 14px
}
.weblog {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.weblog LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 6px; BORDER-BOTTOM: #999 1px dotted; LIST-STYLE-TYPE: none
}
.photohighlights {
	MARGIN-RIGHT: -6px
}
.photohighlights IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN: 1px 2px 6px 1px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.centercontent H3 {
	CLEAR: both; BORDER-TOP: #333 1px dotted; MARGIN-TOP: 4px; DISPLAY: block; FONT-SIZE: 10px; COLOR: #000; PADDING-TOP: 4px
}
.leftcolumn {
	BORDER-RIGHT: #333 1px dotted; PADDING-RIGHT: 10px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.rightcolumn {
	PADDING-RIGHT: 6px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content {
	MARGIN: 0px auto; WIDTH: 800px; POSITION: relative
}
UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.rightcontent H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 0px; BORDER-BOTTOM: #fc0 1px dotted
}
.rightcontent H3 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333
}
.rightcontent H4 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000
}
.rightcontent H5 {
	DISPLAY: inline; FONT-SIZE: 9px; COLOR: #666; FONT-STYLE: italic
}
.rightcontent UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.rightcontent LI {
	PADDING-RIGHT: 0px; DISPLAY: list-item; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px; PADDING-TOP: 0px
}
.regleft UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.regleft LI {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: left
}
.reggroup {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; WIDTH: 586px; COLOR: white; PADDING-TOP: 5px; HEIGHT: 26px; BACKGROUND-COLOR: #34700a
}
.regleft {
	BORDER-RIGHT: #34700a 4px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #34700a 4px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #34700a 4px solid; BACKGROUND-COLOR: #a8d021
}
.regmiddle {
	BORDER-RIGHT: #34700a 4px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #34700a 4px solid; BACKGROUND-COLOR: #a8d021
}
.regright {
	BORDER-RIGHT: #34700a 4px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #34700a 4px solid; BACKGROUND-COLOR: #a8d021
}
LABEL {
	MARGIN-TOP: 4px; DISPLAY: block; FLOAT: left
}
.field {
	MARGIN-TOP: 4px; DISPLAY: block; FLOAT: left
}
.lineup {
	MARGIN-TOP: 4px; DISPLAY: block; FLOAT: left
}
LABEL {
	FONT-WEIGHT: bold; WIDTH: 60px; COLOR: #000000; TEXT-ALIGN: right
}
.field {
	MARGIN-LEFT: 6px; WIDTH: 175px
}
.lineup {
	MARGIN-LEFT: 6px; WIDTH: 175px
}
.lineup {
	LEFT: 66px; POSITION: relative
}
.registration TD {
	FONT-SIZE: 10px
}
.registration .newdivision {
	BORDER-TOP: #666 1px dotted; DISPLAY: block; MARGIN-BOTTOM: 9px; BORDER-BOTTOM: #666 1px dotted; TEXT-ALIGN: center
}
.registration A {
	COLOR: #4685b3
}
.regusers UL {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.leftcontent .faq {
	FONT-SIZE: 10px; COLOR: #666; LINE-HEIGHT: 12px
}
.leftcontent .faq H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333
}
.regusers LI {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 6px 0px 6px -15px; PADDING-TOP: 6px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f5f5f5
}
.regusers TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #fff 6px solid; BACKGROUND-COLOR: #f5f5f5
}
.regusers TABLE {
	MARGIN-LEFT: -15px
}
.regusers .total {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 6px; MARGIN: 6px 0px 6px -15px; COLOR: #000; PADDING-TOP: 6px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #fff
}
.reguserstitle {
	DISPLAY: block; FONT-SIZE: 16px; BACKGROUND-COLOR: #666
}
.registration H2 {
	FONT-SIZE: 14px; BORDER-BOTTOM: #666 1px dotted
}
.regbuttons {
	BORDER-TOP: #fc0 1px dotted; MARGIN-TOP: 3px; PADDING-TOP: 6px
}
.cart {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.cart LI {
	FONT-SIZE: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #fc0 1px dotted
}
.cart .total {
	FONT-WEIGHT: bold; BORDER-BOTTOM: 1px; TEXT-ALIGN: right
}
.cart .amount {
	CLEAR: right; DISPLAY: inline; FLOAT: right
}
.error {
	COLOR: #f30
}
.small {
	FONT-SIZE: 9px
}
#footer {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 12px; COLOR: #999; PADDING-TOP: 12px; TEXT-ALIGN: center
}
.tableleft {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 6px 6px 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid
}
.tableleft TD {
	BORDER-RIGHT: #ccc 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.tableleft .rc {
	WIDTH: 80px
}
.tableleft .head {
	FONT-WEIGHT: bold; COLOR: #fff; BACKGROUND-COLOR: #999
}
.pages {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; WIDTH: 160px; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.pages UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pages LI {
	PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; LIST-STYLE-TYPE: none
}
.pages .head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.highlight {
	COLOR: #f00
}
#photos {
	MARGIN-TOP: 11px; MARGIN-BOTTOM: 11px; TEXT-ALIGN: center
}
#photos IMG {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#photos .nav {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
#photos TD {
	VERTICAL-ALIGN: middle; WIDTH: 97px; HEIGHT: 90px; TEXT-ALIGN: center
}
.leftcontent LABEL {
	FLOAT: left; MARGIN-BOTTOM: 6px
}
.leftcontent INPUT {
	FLOAT: left; MARGIN-BOTTOM: 6px
}
.leftcontent TEXTAREA {
	FLOAT: left; MARGIN-BOTTOM: 6px
}
.leftcontent SELECT {
	FLOAT: left; MARGIN-BOTTOM: 6px
}
.leftcontent BR {
	CLEAR: left
}
UNKNOWN {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666 1px solid; WIDTH: 150px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
.indexlist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; LIST-STYLE-IMAGE: url("../uywi/media/nav/filetype_small_unkown.png"); MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 12px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.indexlist LI .title {
	FONT-SIZE: 14px; COLOR: #333
}
.indexlist .folder {
	LIST-STYLE-IMAGE: url("../uywi/media/nav/filetype_small_folder.png")
}
#resources .indexlist LI {
	FONT-SIZE: 10px; COLOR: #666666
}
#resources .stats {
	COLOR: #666666
}
.form LABEL {
	FLOAT: left; MARGIN-BOTTOM: 10px
}
.form INPUT {
	FLOAT: left; MARGIN-BOTTOM: 10px
}
.form LABEL {
	PADDING-RIGHT: 20px; WIDTH: 75px; TEXT-ALIGN: right
}
.form BR {
	CLEAR: left
}
UNKNOWN {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666 1px solid; WIDTH: 150px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
.event_registration .regleft {
	BACKGROUND-IMAGE: url("../uywi/media/reg/background.jpg"); COLOR: #000000
}
.event_registration .regmiddle {
	BACKGROUND: url("../uywi/media/reg/background.jpg") repeat-y 0px -30px; COLOR: #000000
}
.event_registration .regmiddle P {
	FONT-SIZE: 11px; COLOR: #000000
}
.event_registration .regright {
	BACKGROUND: url("../uywi/media/reg/background.jpg") repeat-y 0px -60px; COLOR: #000000
}
.event_registration {
	FONT-SIZE: 11px
}
.event_registration H2 {
	COLOR: #ffffff; BORDER-BOTTOM: #4a4237 1px solid
}
#review .colleft {
	PADDING-RIGHT: 0px; BORDER-TOP: #d9d9d9 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 150px; COLOR: #808080; PADDING-TOP: 6px; TEXT-ALIGN: right
}
#review .colright {
	PADDING-RIGHT: 0px; BORDER-TOP: #d9d9d9 1px solid; DISPLAY: block; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 430px; PADDING-TOP: 6px
}
#review .first {
	BORDER-TOP: 0px
}
#review .total {
	FONT-WEIGHT: bold; COLOR: #000000
}
.clear {
	CLEAR: left
}
.nogap {
	MARGIN: 0px
}
#wkheader {
	BACKGROUND: url(/media/uywi-2006/training-header.jpg); WIDTH: 590px; HEIGHT: 226px
}
#wkmiddle {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/media/uywi-2006/training-middle.jpg); PADDING-BOTTOM: 0px; FONT: 10px/13px 'Lucida Grande', Geneva, Verdana, Arial, Sans-Serif; WIDTH: 550px; COLOR: #c4bcb9; PADDING-TOP: 0px
}
#wkmiddle H3 {
	MARGIN-BOTTOM: 12px; COLOR: #b84611
}
#wkmiddle STRONG {
	COLOR: white
}
#wkfooter {
	BACKGROUND: url(/media/uywi-2006/training-footer.jpg); WIDTH: 590px; HEIGHT: 104px
}

