BODY {
	FONT-SIZE: 10pt; BACKGROUND: white; MARGIN: 0px; FONT-FAMILY: Trebuchet Ms, Trebuchet, Verdana, Arial, sans-serif
}
.top_header_easter {
	FONT-SIZE: 29px; BACKGROUND: url(/worldvision/master.nsf/v7_header_banner_easter.jpg) no-repeat left top; COLOR: white; TEXT-INDENT: 81px; PADDING-TOP: 15px; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif
}
.top_header {
	FONT-SIZE: 29px; BACKGROUND: url(/worldvision/master.nsf/v7_header_banner.jpg) no-repeat left top; COLOR: white; TEXT-INDENT: 81px; PADDING-TOP: 15px; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif
}
.lft_nav_button A {
	DISPLAY: block; FONT-WEIGHT: 700; FONT-SIZE: 12px; BACKGROUND: url(/worldvision/master.nsf/left_nav_button.gif) no-repeat 0px 0px; WIDTH: 110px; COLOR: white; PADDING-TOP: 6px; FONT-FAMILY: Gills Sans MT, Gill Sans, Trebuchet MT, Trebuchet, Verdana, Arial, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.lft_nav_button A:hover {
	BACKGROUND-POSITION: -110px 0px; COLOR: white
}
.lftnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Trebuchet MS, Trebuchet, Gill Sans MT, Gill Sans, Verdana, Arial, sans-serif; BACKGROUND-COLOR: #cccccc
}
#leftNavigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ccc; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "Trebuchet MS", Arial, Tahoma, Verdana
}
#leftNavigation TR TD {
	HEIGHT: 23px
}
#subLeftNavigation TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 15px
}
#subLeftNavigation2 TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 15px
}
TABLE.subLeftNavigation TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: red 1px dotted; PADDING-TOP: 0px; BORDER-BOTTOM: red 1px dotted
}
#leftNavigation TR TD.topCellLeftNavigation {
	HEIGHT: 29px; BACKGROUND-COLOR: #fff
}
DIV.lft_sponsor {
	BACKGROUND: url(/worldvision/master.nsf/left_nav_sponsor_now.gif) no-repeat -110px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 110px; HEIGHT: 26px
}
DIV.lft_sponsor A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/left_nav_sponsor_now.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 26px; TEXT-DECORATION: none
}
DIV.lft_sponsor A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.lft_sponsor A:active {
	COLOR: black
}
DIV.lft_donate {
	BACKGROUND: url(/worldvision/master.nsf/left_nav_ways_give.gif) no-repeat -110px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 110px; HEIGHT: 26px
}
DIV.lft_donate A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/left_nav_ways_give.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 26px; TEXT-DECORATION: none
}
DIV.lft_donate A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.lft_donate A:active {
	COLOR: black
}
DIV.lft_about {
	BACKGROUND: url(/worldvision/master.nsf/left_nav_about_us.gif) no-repeat -110px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 110px; HEIGHT: 26px
}
DIV.lft_about A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/left_nav_about_us.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 26px; TEXT-DECORATION: none
}
DIV.lft_about A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.lft_about A:active {
	COLOR: black
}
DIV.lft_involved {
	BACKGROUND: url(/worldvision/master.nsf/left_nav_get_involved.gif) no-repeat -110px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 110px; HEIGHT: 26px
}
DIV.lft_involved A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/left_nav_get_involved.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 26px; TEXT-DECORATION: none
}
DIV.lft_involved A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.lft_involved A:active {
	COLOR: black
}
DIV.lft_contact {
	BACKGROUND: url(/worldvision/master.nsf/leftnav_btn_contactus.gif) no-repeat -110px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 110px; HEIGHT: 26px
}
DIV.lft_contact A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/leftnav_btn_contactus.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 26px; TEXT-DECORATION: none
}
DIV.lft_contact A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.lft_contact A:active {
	COLOR: black
}
DIV.top_ways {
	BACKGROUND: url(/worldvision/master.nsf/top_nav_ways_give.gif) no-repeat -85px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 85px; HEIGHT: 16px
}
DIV.top_ways A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/top_nav_ways_give.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 85px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none
}
DIV.top_ways A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.top_ways A:active {
	COLOR: black
}
DIV.top_sponsor {
	BACKGROUND: url(/worldvision/master.nsf/top_nav_sponsorship.gif) no-repeat -85px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 85px; HEIGHT: 16px
}
DIV.top_sponsor A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/top_nav_sponsorship.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 85px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none
}
DIV.top_sponsor A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.top_sponsor A:active {
	COLOR: black
}
DIV.top_involved {
	BACKGROUND: url(/worldvision/master.nsf/top_nav_get_involved.gif) no-repeat -85px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 85px; HEIGHT: 16px
}
DIV.top_involved A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/top_nav_get_involved.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 85px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none
}
DIV.top_involved A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.top_involved A:active {
	COLOR: black
}
DIV.top_about {
	BACKGROUND: url(/worldvision/master.nsf/top_nav_about_us.gif) no-repeat -85px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 85px; HEIGHT: 16px
}
DIV.top_about A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/top_nav_about_us.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 85px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none
}
DIV.top_about A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.top_about A:active {
	COLOR: black
}
DIV.top_map {
	BACKGROUND: url(/worldvision/master.nsf/top_nav_site_map.gif) no-repeat -85px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 85px; HEIGHT: 16px
}
DIV.top_map A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/top_nav_site_map.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 85px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none
}
DIV.top_map A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.top_map A:active {
	COLOR: black
}
DIV.top_home {
	BACKGROUND: url(/worldvision/master.nsf/top_nav_home2.gif) no-repeat -85px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 85px; HEIGHT: 16px
}
DIV.top_home A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/top_nav_home2.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 85px; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none
}
DIV.top_home A:hover {
	BACKGROUND-IMAGE: none; COLOR: yellow
}
DIV.top_home A:active {
	COLOR: black
}
DIV.default {
	FONT-WEIGHT: 500; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, Helv, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.feature1 {
	FONT-WEIGHT: 500; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: 'Trebuchet MS', Trebuchet, sans-serif; TEXT-DECORATION: underline
}
A.feature1:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.newsflash {
	FONT-WEIGHT: 500; FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: 'Trebuchet MS', Trebuchet, sans-serif; TEXT-DECORATION: underline
}
A.newsflash:hover {
	TEXT-DECORATION: none
}
A.subfeature1 {
	FONT-WEIGHT: 500; FONT-SIZE: 7.5pt; COLOR: #333333; FONT-FAMILY: 'Trebuchet MS', Trebuchet, sans-serif; TEXT-DECORATION: none
}
A.subfeature1:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.center2 {
	FONT-WEIGHT: 500; FONT-SIZE: 8pt; COLOR: #ff6600; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
A.center2:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.sidebar {
	FONT-WEIGHT: 500; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
A.sidebar:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.stories {
	FONT-SIZE: 8pt; COLOR: #5e5b5b; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
A.stories:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.aoa {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
A.aoa:hover {
	COLOR: #ffac09; TEXT-DECORATION: none
}
A.aoa2 {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
A.aoa2:hover {
	COLOR: #6a1b14; TEXT-DECORATION: underline
}
A.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #666666; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Arial, sans-serif; TEXT-DECORATION: underline
}
A.subtitle:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
A.lftnav1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, sans-serif; TEXT-DECORATION: underline
}
A.lftnav1:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.lftnav2 {
	FONT-WEIGHT: 500; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: underline
}
A.lftnav2:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.leftNavLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.leftNavLink:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.hiddensm {
	FONT-WEIGHT: 500; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
A.hiddensm:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.center {
	FONT-WEIGHT: 500; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
A.center:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.submit {
	COLOR: white; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; BACKGROUND-COLOR: #ff6600
}
A {
	FONT-SIZE: 9pt; COLOR: #ff6300; FONT-FAMILY: Trebuchet MT, Trebuchet, Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
A:active {
	COLOR: #a8a8a8; TEXT-DECORATION: none
}
INPUT.signup {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: black; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.smfeature {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #231f20; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.crumbtrail {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.crumbtrail A {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ff6300; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: underline
}
.crumbtrail A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ff6300; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 15pt; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Trebuchet MS, Trebuchet, Arial, sans-serif; TEXT-DECORATION: none
}
.aaFeature {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN-BOTTOM: 10px; WIDTH: 490px; COLOR: #ff6600; BORDER-BOTTOM: #ff6600 1px solid; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, verdana
}
.aaOrangeTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ff6600; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, verdana
}
.aaGreyTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #656565; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, verdana
}
.aaSmallGreyTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #656565; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, verdana
}
#pullQuoteLeft {
	BACKGROUND: url("../template/images/upperLeftQuoteLarge.gif") no-repeat left top
}
#pullQuoteRight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("../template/images/lowerRightQuoteLarge.gif") no-repeat right bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#pullQuoteText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 7px; PADDING-TOP: 0px
}
#aaToplinkHolders {
	WIDTH: 493px; HEIGHT: 35px; TEXT-ALIGN: left
}
A#aaHome {
	DISPLAY: block; BACKGROUND: url(/worldvision/wvususfo.nsf/artists_home_1.jpg) no-repeat 0px 0px; FLOAT: left; WIDTH: 115px; HEIGHT: 35px
}
A#aaHome:hover {
	BACKGROUND: url(/worldvision/wvususfo.nsf/artists_home_2.jpg) no-repeat 0px 0px
}
A#aaArtists {
	DISPLAY: block; BACKGROUND: url(/worldvision/wvususfo.nsf/the_artists_1.jpg) no-repeat 0px 0px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 115px; HEIGHT: 35px
}
A#aaArtists:hover {
	BACKGROUND: url(/worldvision/wvususfo.nsf/the_artists_2.jpg) no-repeat 0px 0px
}
A#aaPerformances {
	DISPLAY: block; BACKGROUND: url(/worldvision/wvususfo.nsf/performances_1.jpg) no-repeat 0px 0px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 115px; HEIGHT: 35px
}
A#aaPerformances:hover {
	BACKGROUND: url(/worldvision/wvususfo.nsf/performances_2.jpg) no-repeat 0px 0px
}
A#aaVolunteer {
	DISPLAY: block; BACKGROUND: url(/worldvision/wvususfo.nsf/volunteer_1.jpg) no-repeat 0px 0px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 115px; HEIGHT: 35px
}
A#aaVolunteer:hover {
	BACKGROUND: url(/worldvision/wvususfo.nsf/volunteer_2.jpg) no-repeat 0px 0px
}
DIV#usProgramsFooter {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; MARGIN: 5px 0px 0px 20%; WIDTH: 550px; COLOR: #333333
}
A.usProgramsFooterLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; MARGIN: 0px 7px; COLOR: #ff6600; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, Verdana; TEXT-DECORATION: none
}
A.usProgramsFooterLink:hover {
	COLOR: #006699; TEXT-DECORATION: underline
}
#leftNavigation {
	MIN-HEIGHT: 550px; MARGIN: 0px; WIDTH: 110px; HEIGHT: 600px; BACKGROUND-COLOR: #ccc; voice-family: inherit
}
#leftNavigation TR TD.topCellLeftNavigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; HEIGHT: 0px; BACKGROUND-COLOR: #fff
}
UNKNOWN {
	HEIGHT: 29px
}
#leftSponsorChild {
	BACKGROUND: url(/worldvision/master.nsf/left_nav_sponsor_now.gif) #fff no-repeat -110px 0px; FLOAT: left; MARGIN: 0px; WIDTH: 110px; HEIGHT: 26px
}
#leftSponsorChild A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/worldvision/master.nsf/left_nav_sponsor_now.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 110px; PADDING-TOP: 0px; HEIGHT: 26px; TEXT-DECORATION: none
}
#leftSponsorChild A:hover {
	BACKGROUND-IMAGE: none
}
#linksHolder {
	MIN-HEIGHT: 300px; VERTICAL-ALIGN: top
}
#linkBuffer {
	MIN-HEIGHT: 100px
}
#leftMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftMenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftMenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 3px solid
}
#leftMenu #childSearch {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; PADDING-TOP: 15px
}
#leftMenu FORM SELECT {
	FONT-WEIGHT: 500; FONT-SIZE: 8pt; MARGIN-BOTTOM: 10px; WIDTH: 100px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#leftMenu A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 110px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ccc
}
UNKNOWN {
	WIDTH: 100px
}
#leftMenu A:hover {
	BACKGROUND-COLOR: #006699
}
#leftMenu A#activeLink {
	COLOR: #ffffff; BACKGROUND-COLOR: #006699
}
#leftMenu UL {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 20px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#leftMenu UL LI {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; LIST-STYLE-IMAGE: url(/worldvision/master.nsf/twistie_greyonwt.gif); BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#leftMenu UL LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 80px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent
}
#leftMenu UL LI A:hover {
	BACKGROUND-COLOR: transparent
}
#leftMenu LI.lastMenuLink {
	BORDER-BOTTOM: medium none; HEIGHT: 150px
}
#leftNavigation {
	FONT-WEIGHT: bold
}
#leftSponsorChild A:hover {
	COLOR: yellow
}
#leftSponsor A:active {
	COLOR: black
}
#leftMenu {
	FONT-SIZE: 8pt; FONT-FAMILY: "Trebuchet MS", Arial, Tahoma, Verdana; TEXT-ALIGN: left
}
#leftMenu UL {
	FONT-SIZE: 8pt; FONT-FAMILY: "Trebuchet MS", Arial, Tahoma, Verdana; TEXT-ALIGN: left
}
#leftMenu A {
	FONT-SIZE: 8pt; COLOR: #000; TEXT-DECORATION: none
}
#leftMenu A:hover {
	COLOR: #fff
}
#leftMenu UL LI A {
	FONT-SIZE: 8pt
}


