SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
DIV {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
IMG {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
.withMap {
	BACKGROUND-IMAGE: url(/ihq/www_sa.nsf/map.gif); BACKGROUND-REPEAT: no-repeat
}
A:link {
	COLOR: #003366
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff
}
.doctitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.copyright {
	COLOR: #ffffff
}
.toolbar {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
HR {
	COLOR: #cccccc; HEIGHT: 1px
}
.imgPadd {
	MARGIN: 5px 10px 10px
}
